@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: 400;
}

p {
  margin-bottom: 1rem !important;
}

.error {
  color: #e40505;
  font-size: .8rem;
}

section {
  min-height: calc(100vh - 150px);
  padding: 2rem 3rem;
}

section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:first-of-type .header {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.about {
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
  padding-block: 2rem;
  padding: 2rem 0;
}

.about > p {
  text-align: justify;
  line-height: 1.5;
}

.about .header {
  text-align: center;
  margin-bottom: 1rem;
}

.active {
  padding-bottom: .2em;
  border-bottom: 2px solid yellowgreen;
}

.active:hover {
  color: unset !important;
}
