@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: .85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem !important;
}

.error {
  color: #e40505;
  font-size: .8rem;
}

.error-message {
  color: #e40505;
  margin-bottom: 1rem;
}

.container {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

.container .content {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5vh;
}

.container .content .header {
  text-align: center;
  margin-bottom: 1rem;
}

.container .content p {
  text-align: center;
  line-height: 1.5;
}

.about {
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
  margin: 0 auto;
  padding-block: 2rem;
  padding: 2rem 0;
}

.about > p {
  text-align: justify;
  line-height: 1.7;
}

.about .header {
  text-align: center;
  margin-bottom: 1rem;
}

.active {
  padding-bottom: .2em;
  border-bottom: 2px solid yellowgreen;
}

.active:hover {
  color: unset !important;
}
