@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1{
    font-weight: 400;
}

p{
    margin-bottom: 1rem !important;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-weight: 400;
}

.error{
    color: rgb(228, 5, 5);
    font-size: .8rem;
}

header{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    color: whitesmoke;

    .header{
        color: yellowgreen;

        a{
            color: inherit;
        }
    }

    nav{

        li{
            display: inline-block;
            margin-left: 1rem;

            a{
                color: whitesmoke;
                text-transform: uppercase;

                &:hover{
                    color: yellowgreen;
                }
            }
        }
    }

    @media (max-width: 768px){
        &{
            flex-direction: column;
            justify-content: center;

            .header{
                font-size: .6rem;
            }
            li{
                padding-bottom: 1rem;

                a{
                    font-size: .6rem;
                }
            }
        }
    }
}

section, .container{
    min-height: calc(100vh - 150px);
    padding: 2rem 3rem;

}

section:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width: 400px;

        .header{
            margin-bottom: 1rem;
        }
        .form-group{
            margin-bottom: .5rem;
        }
        .form-control{
            width: 100%;
            margin-top: .2rem;
            outline: none;
            border: 2px solid yellowgreen;
            border-radius: 3px;
            padding:.7rem;
        }

        .btn{
            width: 100%;
            background-color: yellowgreen;
            outline: none;
            border: 1px solid yellowgreen;
            color: whitesmoke;
            cursor: pointer;
            padding-block: .5rem;
            border-radius: 4px;
        }
    }
}

.about{
    max-width: 600px;
    & > p {
        text-align: justify;
    }

    .header{
        margin-bottom: 1rem;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: black;
    color: whitesmoke;
    font-size: 10px;
}