@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-weight: 400;
}

p{
    margin-bottom: 1rem !important;
}


.error{
    color: rgb(228, 5, 5);
    font-size: .8rem;
}


section{
    min-height: calc(100vh - 150px);
    padding: 2rem 3rem;

}

section:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }
}


.about{
    width: 90%;
    max-width: 500px;
    margin-inline: auto;
    padding-block: 2rem;
    & > p {
        text-align: justify;
        line-height: 1.5;
    }

    .header{
        text-align: center;
        margin-bottom: 1rem;
    }
}


.active{
    padding-bottom: .2em;
    border-bottom: 2px solid yellowgreen;

    &:hover{
        color: unset !important;
    }
}