@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-weight: 400;
    font-size: 1.5rem;
}

p{
    margin-bottom: 1rem !important;
}


.error{
    color: rgb(228, 5, 5);
    font-size: .8rem;
}

.error-message{
    color: rgb(228, 5, 5);
    margin-bottom: 1rem;
}

.container{
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;

    .content{
        max-width: 600px;
        margin: 0 auto;
        margin-top: 5vh;

        .header{
            text-align: center;
            margin-bottom: 1rem;
        }

        p{
            text-align: center;
            line-height: 1.5;
        }
    }
}

.about{
    width: 90%;
    max-width: 500px;
    margin-inline: auto;
    margin: 0 auto;
    padding-block: 2rem;
    padding: 2rem 0;
    & > p {
        text-align: justify;
        line-height: 1.7;
    }

    .header{
        text-align: center;
        margin-bottom: 1rem;
    }
}


.active{
    padding-bottom: .2em;
    border-bottom: 2px solid yellowgreen;

    &:hover{
        color: unset !important;
    }
}