
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php



RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^api/users api/users.php
RewriteRule ^api/products api/products.php

#remove php file extension from all php files

RewriteRule ^([^\.]+)$ $1.php [L]